body {
    font-family: 'Poppins', sans-serif;
}

.donation-Cover {
    margin: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url(images/donation8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9;
    height: 774px;
}

.donation-cover-item {
    padding: 8% 29%;
    color: white;
    text-align: center;
}

.donation-cover-item h1 {
    font-weight: 700;
    font-size: 60px;
    font-family: 'Kantumruy Pro', sans-serif;
}

.donation-cover-item p {
    padding-bottom: 10px;
    font-size: large;
}

button {
    text-decoration: none;
    background-color: rgba(220, 39, 7, 0.696);
    padding: 15px 40px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    border-color: rgba(220, 39, 7, 0.696);
    border: none;
    font-size: 23px;
}

.donating {
    text-align: center;
    margin-top: 150px;
}

.donating-Money {
    margin-top: 100px;
    text-align: center;
    height: 500px;
}

.donating h1 {
    font-size: 57px;
    font-family: system-ui;
}

.donating p {
    color: gray;
    font-size: x-large;
    margin-left: 300px;
    margin-right: 300px;
}

.money {
    display: flex;
    margin-left: 19%;
    margin-right: 19%;
}

span {
    margin-top: 30px;
    padding: 47px;
    font-weight: 700;
    font-size: 29px;
    color: rgb(89, 85, 85);
}

#border-money {
    border: 2px solid tomato;
    color: tomato;
    background-color: rgba(232, 183, 174, 0.621);
}

#second-button {
    padding: 15px 40px;
    font-size: 20px;
    margin-bottom: 100px;
}

.optional-amount {
    padding-bottom: 30px;
    display: inline-grid;
}

.textarea {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    border-bottom: groove;
    font-size: 20px;
    margin-top: 70px;
    text-align: center;
    margin-bottom: 30px;
}

.about-donation {
    display: flex;
    margin: 100px 29px;
    padding: 11px;
    width: 1422px;
    height: 427px;
    text-align: revert-layer;
}

.donation-discuss {
    margin-right: 20px;
    padding: 86px 109px;
    border: 1px solid #f3ecf1;
    background-color: #f3ecf1;
}

#second-card {
    background-color: #ece1e1;
}

#third-card {
    background-color: #f5ca7c42;
}

.flood-affected-people-images h1 {
    text-align: center;
    font-size: 57px;
    font-family: system-ui;
}

.flood-images {
    display: flex;
    height: 226px;
    padding: 20px 189px;
}

#fisrt-image {
    margin-right: 10px;
}

#second-image {
    margin-right: 10px;
}

.email-set {
    display: flex;
    width: 60%;
    justify-content: center;
    margin-top: 40px !important;
    background-color: #e4bace36;
    padding: 105px 50px;
    margin: 0 auto;
}

#email {
    font-size: 34px;
    border: 0px solid #8080807a;
    background-color: #8080807a;
    color: black;
    padding: 5px;
    margin-right: 0px;
    border-start-start-radius: 10px;
    border-end-start-radius: 10px;
}

#subscribe-button {

    text-decoration: none;
    color: white;
    background: rgba(220, 39, 7, 0.696);
    padding: 10px 18px;
    display: inline-block;
    outline: none;
    font-weight: 600;
    font-size: 20px;
    border-bottom-left-radius: unset;
    border-start-start-radius: unset;

}

.footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 43px;
    margin-top: 150px;
}

.footer h2 {
    font-family: 'Abril Fatface', cursive;
    font-size: 50px;
}

.footer p {
    font-family: 'Ultra', serif;
    font-size: 18px;
}